
<!-- form card -->

<div class="surface-card p-4 shadow-2 border-round w-full lg:w-4 mx-auto mt-7 animate">

  <!-- card header -->

  <div class="text-center mb-5">
    <h2 class="text-900 text-3xl font-semibold mb-3">Forgot password</h2>
    <p class="text-700 text-sm ">Enter the email address you would like your password reset information to be sent to</p>
  </div>

  <!-- form forgot password -->

  <form [formGroup]="form" (submit)="onSubmit()">

    <!-- input email -->
    <div class="field p-fluid mt-2">
      <input
        type="email"
        placeholder="Email address"
        formControlName="email"
        aria-describedby="email-help"
        pInputText
        *ngIf="!inputCode"
      >
      <input
        value="{{ form.get('email')?.value }}"
        pInputText
        [disabled]="true"
        *ngIf="inputCode"
      >
      <small
        id="email-help" *ngIf="hasErrors('email')"
        class="p-error">Email is required.
      </small>
    </div>

    <!-- input reset code -->

    <div class="field p-fluid mt-2 animate-show-input" *ngIf="inputCode">
      <p class="text-700 text-sm ">Inform the code sent to your email</p>
      <input
        placeholder="Enter the code"
        formControlName="resetCode"
        pInputText
        aria-describedby="email-help2"
      >
      <small
        id="email-help2" *ngIf="hasErrors('resetCode')"
        class="p-error">Code is required.
      </small>
    </div>

    <!-- // button submit -->

    <button *ngIf="!inputCode"
      pButton pRipple
      type="submit"
      label="Continue"
      icon="pi pi-send"
      class="w-full p-button-sm mb-5"
      [disabled]="form.get('email')?.errors"
      [loading]="loading"
    >
    </button>

    <!-- button code confirm -->

    <button *ngIf="inputCode"
      pButton pRipple
      type="button"
      label="Confirm code"
      icon="pi pi-check"
      class="w-full p-button-sm mb-5"
      [disabled]="form.get('resetCode')?.errors"
      [loading]="loading"
      (click)="checkResetCodeMatch()"
    >
    </button>


  </form>

  <!-- back login link -->

  <a
    routerLink="/login"
    style="text-decoration: none; color: #3B82F6;"
    class="flex justify-content-center align-items-center text-sm"
  >
    <i class="pi pi-angle-left" style="font-size: 1rem; margin-right: .2rem;"></i>
    back to login
  </a>

</div>
