li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.header{
  width: 100vw;
  padding: 1rem 2rem;
  background: var(--surface-card);
  border-bottom: 1px solid var(--primary-color);
}

.my-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-navbar > ul{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.current-user {
  display: flex;
  gap: .5rem;
  align-items: center;
}

