<div
  class="pt-5 w-full flex flex-column justify-content-center align-items-center gap-3"
  *ngFor="let torneio of torneios"
>
  <div
    class="w-8 py-3 px-3 surface-card border-round-md flex justify-content-between align-items-center shadow-4"
  >
    <h3 class="text-bold text-2xl w-1">{{ torneio.nome }}</h3>
    <h3 class="text-bold text-2xl w-1">{{ torneio.premiacao }}</h3>
    <a [routerLink]="['/inscricao', torneio.id]">
      <p-button
      icon="pi pi-angle-right"
      iconPos="right"
      label="Inscrever"
      ></p-button>
    </a>
  </div>
</div>
